# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [307]:
# Imports
import pandas as pd
from pathlib import Path
import numpy as np
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [309]:
pwd

'C:\\Users\\herve\\Jupyterlab_Workspace\\UofM-VIRT-FIN-PT-11-2023-U-LOLC\\02-Homework\\13-Neural-Networks\\Instructions\\Starter_Code'

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [313]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('C://Users//herve//Jupyterlab_Workspace/UofM-VIRT-FIN-PT-11-2023-U-LOLC/02-Homework/13-Neural-Networks/Instructions/Starter_Code/Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [315]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [318]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(["EIN","NAME"], axis=1)

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [322]:
# Create a list of categorical variables 
categorical_variables = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [324]:
# Create a OneHotEncoder instance
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(sparse_output=False)

In [326]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [328]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [331]:
non_categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes!='object'].index)
non_categorical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [333]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([applicant_data_df[non_categorical_variables], encoded_df], axis=1)
# Review the Dataframe
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [335]:
### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset

In [337]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [339]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X =  encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [342]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [345]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [349]:
# Define the the number of inputs (features) to the model
number_input_features =  X.shape[1]

# Review the number of features
number_input_features

116

In [351]:
# Define the number of neurons in the output layer
number_output_neurons = 10

In [353]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 10

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

10

In [355]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 10

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

10

In [357]:
# Create the Sequential model instance
nn = Sequential()

In [359]:
# Add the first hidden layer
nn.add(
    Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

In [361]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [363]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [365]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 10)                1170

 dense_15 (Dense)            (None, 10)                110

 dense_16 (Dense)            (None, 1)                 11

=================================================================
Total params: 1291 (5.04 KB)
Trainable params: 1291 (5.04 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [368]:
# Compile the Sequential model
#nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [370]:
input_shape = X_train_scaled.shape[1]

In [372]:
#y_train_reshaped = y.reshape(y_train, (-1, 1))

#history = model.fit(X_train_scaled, y_train_reshaped, validation_split=0.3, epochs=50, batch_size=32)
nn_model=nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\herve\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\herve\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 1ms/step - loss: 0.6244 - accuracy: 0.6813
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5596 - accuracy: 0.7252
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5524 - accuracy: 0.7282
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5494 - accuracy: 0.7301
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7301
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5470 - accuracy: 0.7291
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5464 - accuracy: 0.7296
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7303
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7311
Epoch 10/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7324
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7316
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5434 - accuracy: 0.7335
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7338
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7343
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7348
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5419 - accuracy: 0.7357
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7358
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7355
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5414 - accuracy: 0.7356
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7349
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7348
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7350
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7354
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7364
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5406 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7365
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5403 - accuracy: 0.7355
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7359
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7364
Epoch 32/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7363
Epoch 33/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7368
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7359
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7367
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7365
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7368
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7362
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7374
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7371
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7368
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7367
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7378
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7368
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7363
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7380

In [374]:
# Fit the model using 50 epochs and the training data
#model = nn.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50)
model = Sequential([
    Dense(64, activation='relu', input_shape=(input_shape,)),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid'),
])
#nn_model=nn.fit(X_train_scaled, y_train, epochs=50)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

history = model.fit(X_train_scaled, y_train, validation_split=0.3, epochs=50, batch_size=32)

Epoch 1/50
563/563 [==============================] - 2s 2ms/step - loss: 0.5874 - accuracy: 0.7117 - val_loss: 0.5542 - val_accuracy: 0.7376
Epoch 2/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5599 - accuracy: 0.7238 - val_loss: 0.5501 - val_accuracy: 0.7411
Epoch 3/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5555 - accuracy: 0.7261 - val_loss: 0.5528 - val_accuracy: 0.7401
Epoch 4/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5530 - accuracy: 0.7286 - val_loss: 0.5500 - val_accuracy: 0.7424
Epoch 5/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7274 - val_loss: 0.5550 - val_accuracy: 0.7384
Epoch 6/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5500 - accuracy: 0.7290 - val_loss: 0.5546 - val_accuracy: 0.7405
Epoch 7/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7292 - val_loss: 0.5496 - val_accuracy: 0.7366
Epoch 8/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7273 - val_loss: 0.5534 - val_accuracy: 0.7375
Epoch 9/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7299 - val_loss: 0.5494 - val_accuracy: 0.7418
Epoch 10/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7298 - val_loss: 0.5453 - val_accuracy: 0.7458
Epoch 11/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7306 - val_loss: 0.5497 - val_accuracy: 0.7425
Epoch 12/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7316 - val_loss: 0.5478 - val_accuracy: 0.7440
Epoch 13/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7301 - val_loss: 0.5478 - val_accuracy: 0.7442
Epoch 14/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7289 - val_loss: 0.5513 - val_accuracy: 0.7419
Epoch 15/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7306 - val_loss: 0.5489 - val_accuracy: 0.7422
Epoch 16/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7308 - val_loss: 0.5482 - val_accuracy: 0.7414
Epoch 17/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7315 - val_loss: 0.5493 - val_accuracy: 0.7402
Epoch 18/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7326 - val_loss: 0.5481 - val_accuracy: 0.7394
Epoch 19/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7328 - val_loss: 0.5483 - val_accuracy: 0.7401
Epoch 20/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7313 - val_loss: 0.5496 - val_accuracy: 0.7400
Epoch 21/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7311 - val_loss: 0.5515 - val_accuracy: 0.7403
Epoch 22/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7328 - val_loss: 0.5504 - val_accuracy: 0.7441
Epoch 23/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7329 - val_loss: 0.5502 - val_accuracy: 0.7415
Epoch 24/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7331 - val_loss: 0.5480 - val_accuracy: 0.7431
Epoch 25/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7336 - val_loss: 0.5517 - val_accuracy: 0.7410
Epoch 26/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7335 - val_loss: 0.5489 - val_accuracy: 0.7435
Epoch 27/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7342 - val_loss: 0.5482 - val_accuracy: 0.7424
Epoch 28/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7334 - val_loss: 0.5485 - val_accuracy: 0.7409
Epoch 29/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7331 - val_loss: 0.5474 - val_accuracy: 0.7437
Epoch 30/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7342 - val_loss: 0.5521 - val_accuracy: 0.7366
Epoch 31/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7336 - val_loss: 0.5475 - val_accuracy: 0.7446
Epoch 32/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7333 - val_loss: 0.5509 - val_accuracy: 0.7424
Epoch 33/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7335 - val_loss: 0.5485 - val_accuracy: 0.7444
Epoch 34/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7355 - val_loss: 0.5494 - val_accuracy: 0.7436
Epoch 35/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7344 - val_loss: 0.5505 - val_accuracy: 0.7409
Epoch 36/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7323 - val_loss: 0.5503 - val_accuracy: 0.7394
Epoch 37/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7352 - val_loss: 0.5487 - val_accuracy: 0.7402
Epoch 38/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5388 - accuracy: 0.7348 - val_loss: 0.5498 - val_accuracy: 0.7388
Epoch 39/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7331 - val_loss: 0.5496 - val_accuracy: 0.7437
Epoch 40/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7353 - val_loss: 0.5518 - val_accuracy: 0.7361
Epoch 41/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7338 - val_loss: 0.5482 - val_accuracy: 0.7409
Epoch 42/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7352 - val_loss: 0.5467 - val_accuracy: 0.7433
Epoch 43/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7351 - val_loss: 0.5512 - val_accuracy: 0.7354
Epoch 44/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7365 - val_loss: 0.5507 - val_accuracy: 0.7440
Epoch 45/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7361 - val_loss: 0.5487 - val_accuracy: 0.7429
Epoch 46/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7362 - val_loss: 0.5501 - val_accuracy: 0.7402
Epoch 47/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7356 - val_loss: 0.5483 - val_accuracy: 0.7416
Epoch 48/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7347 - val_loss: 0.5534 - val_accuracy: 0.7345
Epoch 49/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7355 - val_loss: 0.5488 - val_accuracy: 0.7438
Epoch 50/50
563/563 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7345 - val_loss: 0.5487 - val_accuracy: 0.7435

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [379]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(
                                        X_test_scaled,
                                        y_test,
                                        verbose=2
)
# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5555 - accuracy: 0.7310 - 348ms/epoch - 1ms/step
Loss: 0.5554937124252319, Accuracy: 0.7309620976448059

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [381]:
# Set the model's file path
file_path = ('C://Users//herve//Jupyterlab_Workspace/UofM-VIRT-FIN-PT-11-2023-U-LOLC/02-Homework/13-Neural-Networks/Instructions/Starter_Code/Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\herve\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [386]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [388]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 10

In [390]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 10

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

10

In [392]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [400]:
# First hidden layer
nn_A1.add(
    Dense(units= hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu")
)


# Output layer

nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_20 (Dense)            (None, 10)                1170

 dense_21 (Dense)            (None, 1)                 11

=================================================================
Total params: 1181 (4.61 KB)
Trainable params: 1181 (4.61 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [402]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [406]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 3s 3ms/step - loss: 0.6208 - accuracy: 0.6870 - val_loss: 0.5777 - val_accuracy: 0.7315
Epoch 2/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5720 - accuracy: 0.7201 - val_loss: 0.5665 - val_accuracy: 0.7326
Epoch 3/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5631 - accuracy: 0.7220 - val_loss: 0.5650 - val_accuracy: 0.7361
Epoch 4/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5594 - accuracy: 0.7231 - val_loss: 0.5621 - val_accuracy: 0.7374
Epoch 5/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5573 - accuracy: 0.7243 - val_loss: 0.5610 - val_accuracy: 0.7423
Epoch 6/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5556 - accuracy: 0.7250 - val_loss: 0.5613 - val_accuracy: 0.7385
Epoch 7/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7253 - val_loss: 0.5623 - val_accuracy: 0.7418
Epoch 8/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5540 - accuracy: 0.7257 - val_loss: 0.5640 - val_accuracy: 0.7354
Epoch 9/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5532 - accuracy: 0.7276 - val_loss: 0.5635 - val_accuracy: 0.7391
Epoch 10/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5524 - accuracy: 0.7274 - val_loss: 0.5643 - val_accuracy: 0.7376
Epoch 11/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5523 - accuracy: 0.7276 - val_loss: 0.5629 - val_accuracy: 0.7427
Epoch 12/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7277 - val_loss: 0.5635 - val_accuracy: 0.7425
Epoch 13/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5515 - accuracy: 0.7272 - val_loss: 0.5638 - val_accuracy: 0.7397
Epoch 14/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5513 - accuracy: 0.7275 - val_loss: 0.5635 - val_accuracy: 0.7409
Epoch 15/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7279 - val_loss: 0.5647 - val_accuracy: 0.7380
Epoch 16/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7279 - val_loss: 0.5646 - val_accuracy: 0.7380
Epoch 17/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7271 - val_loss: 0.5638 - val_accuracy: 0.7378
Epoch 18/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5502 - accuracy: 0.7285 - val_loss: 0.5645 - val_accuracy: 0.7387
Epoch 19/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7265 - val_loss: 0.5652 - val_accuracy: 0.7414
Epoch 20/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7280 - val_loss: 0.5656 - val_accuracy: 0.7415

#### Alternative Model 2

In [425]:
# Define the the number of inputs (features) to the model
number_input_features_1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_1

116

In [427]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 12

In [429]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 12

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

12

In [431]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [433]:
# First hidden layer
nn_A2.add(
    Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_1, activation="relu")
)

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_9"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_22 (Dense)            (None, 12)                1404

 dense_23 (Dense)            (None, 1)                 13

=================================================================
Total params: 1417 (5.54 KB)
Trainable params: 1417 (5.54 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [435]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [441]:
# Fit the model
model_A2 = nn_A2.fit(X_train_scaled, y_train, validation_split=0.3, epochs=20)

Epoch 1/20
563/563 [==============================] - 3s 3ms/step - loss: 0.6191 - accuracy: 0.6889 - val_loss: 0.5639 - val_accuracy: 0.7345
Epoch 2/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5712 - accuracy: 0.7198 - val_loss: 0.5551 - val_accuracy: 0.7384
Epoch 3/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5630 - accuracy: 0.7216 - val_loss: 0.5528 - val_accuracy: 0.7391
Epoch 4/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5586 - accuracy: 0.7235 - val_loss: 0.5551 - val_accuracy: 0.7409
Epoch 5/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5558 - accuracy: 0.7243 - val_loss: 0.5515 - val_accuracy: 0.7419
Epoch 6/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5544 - accuracy: 0.7247 - val_loss: 0.5540 - val_accuracy: 0.7429
Epoch 7/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5536 - accuracy: 0.7265 - val_loss: 0.5524 - val_accuracy: 0.7376
Epoch 8/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5526 - accuracy: 0.7271 - val_loss: 0.5530 - val_accuracy: 0.7394
Epoch 9/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7250 - val_loss: 0.5529 - val_accuracy: 0.7407
Epoch 10/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5516 - accuracy: 0.7271 - val_loss: 0.5530 - val_accuracy: 0.7368
Epoch 11/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5511 - accuracy: 0.7266 - val_loss: 0.5550 - val_accuracy: 0.7372
Epoch 12/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5506 - accuracy: 0.7270 - val_loss: 0.5565 - val_accuracy: 0.7394
Epoch 13/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5503 - accuracy: 0.7279 - val_loss: 0.5567 - val_accuracy: 0.7409
Epoch 14/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7280 - val_loss: 0.5557 - val_accuracy: 0.7356
Epoch 15/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5500 - accuracy: 0.7280 - val_loss: 0.5557 - val_accuracy: 0.7367
Epoch 16/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5496 - accuracy: 0.7274 - val_loss: 0.5554 - val_accuracy: 0.7401
Epoch 17/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7269 - val_loss: 0.5571 - val_accuracy: 0.7402
Epoch 18/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7285 - val_loss: 0.5551 - val_accuracy: 0.7402
Epoch 19/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7293 - val_loss: 0.5572 - val_accuracy: 0.7384
Epoch 20/20
563/563 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7270 - val_loss: 0.5566 - val_accuracy: 0.7410

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [443]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5555 - accuracy: 0.7310 - 299ms/epoch - 1ms/step
Loss: 0.5554937124252319, Accuracy: 0.7309620976448059

In [449]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5640 - accuracy: 0.7310 - 329ms/epoch - 1ms/step
Loss: 0.563961386680603, Accuracy: 0.7309620976448059

In [453]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =  nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5556 - accuracy: 0.7312 - 290ms/epoch - 1ms/step
Loss: 0.5555773377418518, Accuracy: 0.731195330619812

### Step 3: Save each of your alternative models as an HDF5 file.

In [455]:
# Set the file path for the first alternative model
file_path =('C://Users//herve//Jupyterlab_Workspace/UofM-VIRT-FIN-PT-11-2023-U-LOLC/02-Homework/13-Neural-Networks/Instructions/Starter_Code/Resources/AlphabetSoup1.h5')

# Export your model to a HDF5 file
nn_A1.save(file_path)

C:\Users\herve\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [457]:
# Set the file path for the second alternative model
file_path = ('C://Users//herve//Jupyterlab_Workspace/UofM-VIRT-FIN-PT-11-2023-U-LOLC/02-Homework/13-Neural-Networks/Instructions/Starter_Code/Resources/AlphabetSoup2.h5')

# Export your model to a HDF5 file
nn_A2.save(file_path)

C:\Users\herve\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(